@import 'variables';

.footer-container {
    text-align: center;
    .footer-text {
        font-size: 14px;
    }
    .footer-img-container {
        img {
            padding-left: 30px;
            height: 20px;
            width: 20px;
        }

    }
    .botonSubirContainer {
        position: fixed;
        right: 3%;
        bottom: 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $colorSecond;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1% ;
        .botonSubir {
            color: $colorSecond;
            font-size: 15px;
            font-weight: bold;
       
        }
    }
    .botonSubirContainer:hover {
        cursor: pointer; cursor: hand;
    }

}