@import 'variables';
header {
  .title_header{
    display: flex;
    font-family: 'Koulen', cursive;
    justify-content: center;
    .logo_header {
      margin: 25px 10px 0 0px;
      height: 40px;
    }

    h1 {
      text-align: center;
      margin-right: 80px;
    }
  }
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      margin-left: 40px;
      .nav_menu {
        display: flex;
        
        li {
          display: flex;
          margin-right: 70px;
          font-size: 20px;
        }
        li:hover {
          text-decoration: underline;
          cursor: pointer; cursor: hand;
        }
        
      }
    }
    .user-container {
      display: flex;
      align-items: center;
      background-color: $colorSecond;
      padding: 1px 5px 1px 5px;
      border-radius: 15px;
      margin-right: 40px;

      .user_img {
        width: 19px;
        height: 19px;
 
      }
      .button-inicia-sesion {
          background-color: rgba(0, 128, 0, 0);
          border: none;
          padding: 10px;
          
      }
    }
    .user-container:hover {
      cursor: pointer; cursor: hand;
    }
  
    .boton-reservas-usuario {
      background-color: rgba(0, 128, 0, 0);
      border: none;
      padding: 10px;
    }
  }
}