.carousel_container {
    padding-top: 30px;
    .carousel .slider-wrapper {
        width: 50%;
        border-radius: 30px;
    }

    .carousel .thumb {
        width: 5%;
        height: 50px;
    }

    .carousel {
        text-align: center;

        .thumbs-wrapper {
            width: 0
        }
    }
}
