header .title_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Koulen', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .title_header .logo_header {
  margin: 25px 10px 0 0px;
  height: 40px;
}

header .title_header h1 {
  text-align: center;
  margin-right: 80px;
}

header .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_container .nav {
  margin-left: 40px;
}

header .nav_container .nav .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_container .nav .nav_menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
  font-size: 20px;
}

header .nav_container .nav .nav_menu li:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

header .nav_container .user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d0b0d4;
  padding: 1px 5px 1px 5px;
  border-radius: 15px;
  margin-right: 40px;
}

header .nav_container .user-container .user_img {
  width: 19px;
  height: 19px;
}

header .nav_container .user-container .button-inicia-sesion {
  background-color: rgba(0, 128, 0, 0);
  border: none;
  padding: 10px;
  font-family: sans-serif;
  font-size: 13px;
}

header .nav_container .user-container:hover {
  cursor: pointer;
  cursor: hand;
}

header .nav_container .user-logueado {
  font-family: sans-serif;
  font-size: 13px;
}

header .nav_container .boton-reservas-usuario {
  background-color: rgba(0, 128, 0, 0);
  border: none;
  padding: 10px;
  font-family: sans-serif;
}

.carousel_container {
  padding-top: 30px;
}

.carousel_container .carousel .slider-wrapper {
  width: 50%;
  border-radius: 30px;
}

.carousel_container .carousel .thumb {
  width: 5%;
  height: 50px;
}

.carousel_container .carousel {
  text-align: center;
}

.carousel_container .carousel .thumbs-wrapper {
  width: 0;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 374px;
}

.service-container .service-box {
  border: 2px solid #d0b0d4;
  border-radius: 20px;
  height: 290px;
  width: 504px;
  margin: 0 30px 30px 0;
}

.service-container .service-box .service-box-title {
  text-align: center;
  font-size: 24px;
}

.service-container .service-box .service-box-text {
  text-align: center;
  font-size: 15px;
}

.service-container .service-box .service-box-imgBut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
}

.service-container .service-box .service-box-img {
  width: 180px;
  height: auto;
  margin: -11px 0 50px 56px;
  border-radius: 25px;
}

.service-container .service-box .service-box-button {
  margin: auto;
  background-color: #d0b0d4;
  border-radius: 5px;
  padding: 10px;
  border: 1px;
}

.aboutMain-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  max-width: 60%;
  margin: auto;
}

.aboutMain-container p {
  line-height: 30px;
  text-align: center;
  margin-top: 100px;
}

.aboutMain-container .img-beauty-salon-container {
  text-align: center;
}

.aboutMain-container .img-beauty-salon {
  width: 80%;
  border-radius: 25px;
}

@media (max-width: 1280px) {
  .img-beauty-salon-container {
    text-align: center;
  }
  .aboutMain-title {
    margin-bottom: -30px;
  }
  .img-beauty-salon {
    width: 80%;
    border-radius: 25px;
    margin-top: 112px;
  }
}

.testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-container .testimonial-box {
  max-width: 25%;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container .testimonial-box .testimonial-box-imgContainer {
  text-align: center;
}

.testimonials-container .testimonial-box .testimonial-box-imgContainer .testimonial-box-imgContainer-img {
  width: 50px;
}

.testimonials-container .testimonial-box .testimonial-box-text {
  line-height: 30px;
  font-family: 'Edu SA Beginner', cursive;
}

.testimonials-container .testimonial-box .testimonial-box-name {
  text-align: center;
  font-size: 13px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-container .contact-imgContainer {
  text-align: center;
}

.contact-container .contact-text {
  text-align: center;
  font-weight: bold;
}

.contact-container .contact-text-contact {
  text-align: center;
  line-height: 8px;
  font-size: 15px;
}

.footer-container {
  text-align: center;
}

.footer-container .footer-text {
  font-size: 14px;
}

.footer-container .footer-img-container img {
  padding-left: 30px;
  height: 20px;
  width: 20px;
}

.footer-container .botonSubirContainer {
  position: fixed;
  right: 3%;
  bottom: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #d0b0d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.footer-container .botonSubirContainer .botonSubir {
  color: #d0b0d4;
  font-size: 15px;
  font-weight: bold;
}

.footer-container .botonSubirContainer:hover {
  cursor: pointer;
  cursor: hand;
}

.login-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.imgCruz {
  margin-left: 307px;
  width: 16px;
}

.pruebaLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.login-box {
  margin: auto;
  width: 400px;
  padding: 40px;
  background: rgba(141, 108, 148, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.user-submit {
  text-align: center;
}

.login-button {
  padding: 10px;
  border-radius: 3px;
  border: none;
}

.login-button:hover {
  cursor: pointer;
}

.loginError {
  color: red;
}

.despedida_container {
  border: 1px black solid;
}

.despedida_container .despedida_title {
  text-align: center;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: red;
}

.despedida_container .despedida_img {
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
          animation: spinner 1.5s linear infinite;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 250px;
}

.reservarContainerAll {
  margin: auto;
  margin-top: 100px;
  width: 400px;
  padding: 40px;
  background: rgba(141, 108, 148, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: relative;
}

.reservarContainerAll .reserva_container {
  text-align: center;
}

.reservarContainerAll .reserva_container .imgCruzReservas {
  margin-left: 307px;
  width: 16px;
}

.reservarContainerAll .reserva_container .fecha_reserva {
  background-color: rgba(161, 155, 161, 0.767);
  text-align: center;
  height: 20px;
  font-size: 15px;
}

.reservarContainerAll .reserva_container .fecha_reserva:hover {
  cursor: pointer;
  cursor: hand;
}

.reservarContainerAll .reserva_container .boton_reservar {
  margin-top: 20px;
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(161, 155, 161, 0.767);
  padding: 10px;
}

.reservas-creadas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
}

.reservas-creadas-container .reserva-card {
  margin: 50px;
  width: auto;
  border: 2px solid rgba(141, 108, 148, 0.5);
  border-radius: 20px;
}

.reservas-creadas-container .reserva-card img {
  width: 120px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservas-creadas-container .reserva-card button {
  margin: 10px;
  background-color: rgba(141, 108, 148, 0.5);
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-cabecera {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal-titulo {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modal-contenido {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modal-acciones {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.modal-container-acciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cerrar-modal {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.cerrar-modal:hover {
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  -webkit-transform: translate(-4px, 4px);
          transform: translate(-4px, 4px);
}

.modal-eliminar-boton {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.modal-eliminar-boton:hover {
  -webkit-box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
          box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #ff3e4e;
}

.modal-cancelar-boton {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.modal-cancelar-boton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
  background: whitesmoke;
}

.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
          box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #eedef0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h2::before {
  content: "~";
}

h2::after {
  content: "~";
}

button:hover {
  cursor: pointer;
  cursor: hand;
}
/*# sourceMappingURL=App.css.map */