@import 'header';
@import 'slider';
@import 'servicesMain';
@import 'aboutMain';
@import 'testimonials';
@import 'contact';
@import 'footer';
@import 'variables';
@import 'login';
@import 'despedida';
@import 'spinner';
@import 'paginaReservas';
@import 'visualizarReservas';
@import 'modal';

body {
   // font-family:'Courier New', Courier, monospace
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: $backgroundMain;
}

h2 {
   text-align: center;
   text-transform: uppercase;
}
h2::before {
   content: "~";
}
h2::after {
   content: "~";
}

button:hover {
   cursor: pointer; cursor: hand;
}