.footer-container {
    text-align: center;
    .footer-text {
        font-size: 14px;
    }
    .footer-img-container {
        img {
            padding-left: 30px;
            height: 20px;
            width: 20px;
        }

    }

}