header .title_header {
  display: flex;
  font-family: "Koulen", cursive;
  justify-content: center;
}
header .title_header .logo_header {
  margin: 25px 10px 0 0px;
  height: 40px;
}
header .title_header h1 {
  text-align: center;
  margin-right: 80px;
}
header .nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav_container .nav_menu {
  display: flex;
}
header .nav_container .nav_menu li {
  display: flex;
  margin-right: 70px;
  font-size: 20px;
}
header .nav_container .nav_menu li:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}
header .nav_container .user-container {
  display: flex;
  align-items: center;
  background-color: #d0b0d4;
  padding: 1px 5px 1px 5px;
  border-radius: 15px;
}
header .nav_container .user-container p {
  padding-right: 5px;
  font-size: 20px;
}
header .nav_container .user-container .user_img {
  width: 19px;
  height: 19px;
}
header .nav_container .user-container:hover {
  cursor: pointer;
  cursor: hand;
}

.carousel_container {
  padding-top: 30px;
}
.carousel_container .carousel .slider-wrapper {
  width: 50%;
}
.carousel_container .carousel .thumb {
  width: 5%;
  height: 50px;
}
.carousel_container .carousel {
  text-align: center;
}
.carousel_container .carousel .thumbs-wrapper {
  width: 0;
}

.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 374px;
}
.service-container .service-box {
  border: 2px solid #d0b0d4;
  height: 290px;
  width: 504px;
  margin: 0 30px 30px 0;
}
.service-container .service-box .service-box-title {
  text-align: center;
  font-size: 24px;
}
.service-container .service-box .service-box-text {
  text-align: center;
  font-size: 15px;
}
.service-container .service-box .service-box-imgBut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}
.service-container .service-box .service-box-img {
  width: 246px;
  height: 164.13px;
}
.service-container .service-box .service-box-button {
  margin: auto;
}

.aboutMain-container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 60%;
  margin: auto;
}
.aboutMain-container p {
  line-height: 30px;
  text-align: center;
  margin-top: 100px;
}
.aboutMain-container .img-beauty-salon-container {
  text-align: center;
}
.aboutMain-container .img-beauty-salon {
  width: 80%;
}

.testimonials-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.testimonials-container .testimonial-box {
  max-width: 25%;
  padding: 10px;
  align-items: center;
}
.testimonials-container .testimonial-box .testimonial-box-imgContainer {
  text-align: center;
}
.testimonials-container .testimonial-box .testimonial-box-imgContainer .testimonial-box-imgContainer-img {
  width: 50px;
}
.testimonials-container .testimonial-box .testimonial-box-text {
  line-height: 30px;
  font-family: "Edu SA Beginner", cursive;
}
.testimonials-container .testimonial-box .testimonial-box-name {
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}
.contact-container .contact-imgContainer {
  text-align: center;
}
.contact-container .contact-text {
  text-align: center;
  font-weight: bold;
}
.contact-container .contact-text-contact {
  text-align: center;
  line-height: 8px;
  font-size: 15px;
}

.footer-container {
  text-align: center;
}
.footer-container .footer-text {
  font-size: 14px;
}
.footer-container .footer-img-container img {
  padding-left: 30px;
  height: 20px;
  width: 20px;
}
.footer-container .pruebaArriba {
  position: fixed;
  z-index: 10px;
  top: 10%;
  right: 10%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #eedef0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h2::before {
  content: "~";
}

h2::after {
  content: "~";
}

button:hover {
  cursor: pointer;
  cursor: hand;
}/*# sourceMappingURL=App.css.map */